body {
font-family: 'Roboto', sans-serif;
background-color: rgba(214, 213, 242, 0.2);
line-height: 1.7em;
margin: 10px;
letter-spacing: 1.3px;
display: block
}

h1 {
  padding: 20px;
  margin: 20px;
}

h1 {
color: rgb(217, 98, 98);
}

p {
color: #86868a ;
text-align: center;
}

.content_box {
  margin: 40px;
}

.fa-brands {
  font-size: 20px;
  padding-right: 4px;
}

.social_links a  {
  color:#6f6f72;
  text-decoration: none;
}

.links_list li {
  display:inline-block;
  padding: 10px;
}

.links ul {
  list-style: none;
  background-color: rgba(217, 176, 198, 0.7) ;
  padding: 16px;
  margin-top: 25px;
  cursor: pointer;
}

.social_links:hover {
  font-size: 24px;

}

.btn_more {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  border: 2px solid #fff;
  width: 18%;
  color:#ffff;
  font-size: 18px;
  font-weight: 600;
  margin: auto;
  background-color: rgb(101, 166, 147);
  cursor: pointer;
}

.btn_more:hover {
  background-color:#fff;
  color:rgb(101, 166, 147);
  border-color: rgb(101, 166, 147) ;
  font-size: 20px;
}

.btn_profile {
  margin: 20px;
  padding: 20px;
}


img {
  width: 25%;
  margin: 20px;
  border-radius: 6px;
}

.container {
  width: 65%;
  margin: 30px auto;
}
.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

@media (max-width: 720px) {
  .container {
    width: 300px;
  }
}

@media (max-width: 720px) {
  img {
    width: 100%;
  }
}

/*
@media (min-width: 40rem) {
  .main-footer__link {
    display: inline-block;
    margin: 0 1rem;
  }
}

@media (min-width: 40rem) {
  .key-feature {
    display: inline-block;
    width: 30%;
    max-width: 25rem;
    vertical-align: top;
  }
}



  @media (min-width: 40rem) and (min-height: 60rem) {
    #product-overview {
      height: 40vh;
      background-position: 50% 25%;
    }
  }
